# Binaries
nat-info
nat-info-*
*.exe
*.dll
*.so
*.dylib

# Build artifacts
dist/
build/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# OS specific
.DS_Store
.idea/
.vscode/
*.swp
